__pycache__/
logs/
working/
.env
.DS_Store
.vscode/
.venv/
*.egg-info/
**/.ipynb_checkpoints/
/env
CLAUDE.md
docker-compose.dev.yml
var/
/# Only ignore root-level overrides
/profiles.yml
/*_objects.yml
examples/app-flowise/.*
